* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}


html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333333;
}

@font-face {
  font-family: "Norse";
  src: url(../fonts/Norse-Bold.otf);
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-image: url(../images/sidebar-bg2.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  position: relative;
}

.logo {
  margin-top: 200px;
  top: 225px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 100px;
}

.logo span {
  color: #FFFFFF;
  font-family: "Norse", sans-serif;
  font-size: 7rem;
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: 0.8rem;
}

.credit a {
  color: #FFFFFF;
}

.sign-up-form {
  flex: 2;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-header {
  flex: 1;
  background-color: #F9FAFB;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header p {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-details {
  flex: 1;
  padding: 20px 50px;
}

.form-details p {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  font-size: 0.8rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 300px;
}

.form-group input:focus {
  outline: none;
  border-color: #1D4ED8;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group input[type="password"]:invalid {
  outline: none;
  border-color: #EF4444;
}

.form-footer {
  flex: 1;
  background-color: #F9FAFB;
  padding: 30px 50px;
}

.form-footer a {
  color: #596D48;
  text-decoration: none;
}

button {
  padding: 0.75em 1.5em;
  background-color: #596D48;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.15rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #3E4C32;
}